<li class="sidebar-menu-item d-block w-100<%== " selected" if controller.controller_name == "editor_settings" %>">
    <%= link_to Spree.t(:rich_editor), spree.edit_admin_editor_settings_path, { class: "py-1 px-3 d-block sidebar-submenu-item #{ 'text-success' if controller.controller_name == "editor_settings" }"} %>
</li>